@import "../../constants/colors.scss";

.layout {
  text-align: center;

  &_header {
    background-color: $main_blue;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;

    &_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      font-size: 22px;
      font-weight: 300;
    }

    &_isotype {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      margin-left: 15px;
    }

    &_right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
      width: 550px;
    }

    &_menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 400;

      &_item {
        font-size: 16px;
        margin-left: 40px;

        &:hover {
          border-bottom: 1px solid $white;
          margin-top: 1px;
        }
      }
    }

    &_user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px;
      font-size: 16px;
      font-weight: 500;
      position: relative;

      &_avatar {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }

      &_arrow {
        width: 10px;
        height: 10px;
        transition: all 0.4s;
        margin-left: 10px;

        &-down {
          transform: rotate(180deg);
        }
      }
    }
  }
}
