.my-listing {
  margin: 50px 75px 40px;
  text-align: center;

  &__title {
    display: flex;
    position: absolute;
    bottom: 50px;
    color: white;
    margin-left: 70px;
    font: {
      size: 52px;
      weight: 600;
    }

    &-container {
      position: relative;
      margin: 0 1.5% 0;
    }

    &-img {
      width: 100%;
    }
  }
}
