@import "../../constants/colors.scss";

.product-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  margin: auto;
  margin-top: 4vh;
  height: 80vh;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px $shadow;
  position: relative;

  &__error {
    color: $error;
    margin-right: 10px;
    font-size: 14px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    color: $white;
    margin-bottom: 10px;
    position: absolute;
    text-shadow: 2px 2px 5px $almost_black;
    top: 20px;
    left: 40px;
  }

  &__image {
    height: 80vh;
    max-width: 40vw;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  form {
    display: flex;
    background-color: $white;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-top: 5vh;
  }

  &__content {
    width: 100%;
    gap: 3vh;
    display: flex;
    max-height: 89%;
    overflow: scroll;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 22px);
    margin-left: 5px;
    height: 8vh;
    position: absolute;
    bottom: 0;
    background-color: $white;
    padding-right: 15px;
    box-shadow: 0px -14px 5px 0px $white;
  }

  &__input-value-container {
    display: flex;
    float: left;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;

    input,
    textarea {
      padding: 10px 20px 10px 15px;
      border: 1px solid $light_gray;
      border-radius: 5px;
      outline: 0;
      resize: none;
      font-family: 'Inter';
    }

    p {
      text-align: left;
      margin-bottom: 10px;
      color: $almost_black;
    }
  }

  &__preview-image {
    aspect-ratio: initial;
    max-height: 80px;
    max-width: 80px;
    transition: all 0.4s ease-in-out;
    cursor: zoom-in;
    margin-bottom: 20px;
  }

  &__preview-image-zoom {
    max-height: 450px;
    max-width: 450px;
  }

  &__input-image {
    border: 1px dashed $secondary !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 20px;
    width: 200px;
    margin-bottom: 15px;
    background-color: $transparent_blue;
    cursor: pointer;
  }
}
