$main_blue: #2C3A61;
$secondary: #4A60A1;
$medium_gray: #889099;
$primary: #1276D2;
$disabled: #9ca3aa;
$light_gray: #bdbfc170;
$white: #ffffff;
$black: #000000;
$almost_black: #363A3D;
$green: #61AD00;
$dark_gray: #6D737A;
$error: #e00606;
$shadow: rgba(74, 96, 161, 0.3);
$transparent_blue: rgba(86, 117, 207, 0.08);
$transparent_black: rgba(0, 0, 0, 0.1);
