@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import './constants/colors.scss';

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: $white;

  &:focus {
    outline: none;
  }
}
