@import '../../constants/colors.scss';

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 4vh;
  height: 80vh;
  padding: 30px 45px;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px $shadow;

  &__title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    color: $secondary;
    align-items: center;
    height: 47px;

    &-text {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 80%;

    img {
      object-fit: contain;
      width: 35vw;
      max-height: 75vh;
      margin-right: 30px;
      transition: all 0.3s ease-in-out;
    }

    &-seller {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      img {
        max-width: 40px;
        min-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        margin-right: 7px;
      }

      &-name {
        font-size: 14px;
        color: $almost_black;
      }
    }

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      color: $secondary;
      width: 100%;
    }

    &-description {
      color: $dark_gray;
      line-height: 25px;
      max-width: 35vw;
      overflow-wrap: break-word;
      max-height: 25vh;
      min-height: 10vh;
      font-size: 14px;
      font-weight: 400;
      overflow-y: scroll;
      white-space: pre-line;
      padding-bottom: 25px;
      mask-image: linear-gradient(to bottom, $black calc(100% - 40px), transparent);

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      height: 100%;
    }

    &-main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    &-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      width: 100%;

      &-price {
        font-size: 34px;
        font-weight: 600;
        color: $secondary;
        margin: 10px 0 0 0;
      }

      &-date {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-title {
          font-size: 14px;
          color: $dark_gray;
          font-weight: 600;
        }

        &-info {
          font-size: 16px;
          color: $dark_gray;
          margin: 0;
        }
      }
    }
  }
}
