@import "../../constants/colors.scss";

.layout {
  text-align: center;

  &__header {
    background-color: $main_blue;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-right: 30px;

    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      font-size: 22px;
      font-weight: 300;
    }

    &__isotype {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      margin-left: 15px;
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
      width: 570px;
    }

    &__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 400;

      &__item {
        font-size: 16px;
        margin-left: 40px;

        &:hover {
          border-bottom: 1px solid $white;
          margin-top: 1px;
        }
      }
    }

    &__user-container {
      position: relative;
      width: 230px;
    }

    &__user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-left: 20px;
      font-size: 16px;
      font-weight: 500;
      width: 210px;

      &__avatar {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        border-radius: 50%;
      }

      &__arrow {
        width: 10px;
        height: 10px;
        transition: all 0.4s;
        margin-left: 10px;

        &--down {
          transform: rotate(180deg);
        }
      }
    }
  }
}
